body {
    background-color: #FAF7F0 !important;

    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    min-height: 100vh; 
    text-align: center;
}

h1 {
    font-size: 45px;
    color: black;
}

/* .login-form input{
    background-color: white;
    color: gray
} */

.esqueceu-senha {
    color: #800000;
    text-decoration: none;
}

.esqueceu-senha:hover {
    text-decoration: underline;
}

.btn-entrar {
    background-color: #800000;
    color: white;
    font-size: 22px;
    width: 100%;
}

.btn-entrar:hover {
    background-color: #800000c4;
    color: white;
}